* {
  font-family: Futura;
}
/* FORM STYLING */
.chart-input-form {
  display: flex;
  flex-direction: column;
  background-color: azure;
  border-radius: 5px;
  padding: 1em;
}
.form-row {
  display: flex;
  justify-content: center;
  background-color: whiteSmoke;
  border: 2px solid white;
  border-radius: 5px;
}
.form-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em 1em 1em 1em;
}
.input-group {
   display: flex;
}
.input-group > label {
  margin-right: 1em;
  flex: 30%;
  padding: .5em 0;
}
.chart-input-form input,
.chart-input-form select {
  flex: 70%;
  padding: .5em;
  margin-bottom: 1em;
}
.chart-input-form h1,
.chart-input-form h2 {
  text-align: center;
}
button {
  background-color: honeyDew;
  align-self: flex-end;
  padding: 0.5em;
  border-radius: 5px;
}
#remove-category {
  background-color:red;
}

/* CHART STYLING */
.chart-title {
  text-align:center;
}
.chart-container {
  display:flex;
  width:75vw;
  margin:auto;
}
div.y-axis-title {
  height: 500px;
  flex:5%;
  display: flex;
  align-items:flex-end;
  justify-content:center;
  writing-mode:vertical-rl;
  text-orientation:upright;
  font-weight:bold
}
.y-axis-markings {
  height: 500px;
  flex:5%;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
}
.y-axis-markings > div {
  flex: 20%;
  font-family: Arial !important;
}
.chart-area {
  height:500px;
  background-color:lightGray;
  flex: 90%;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.x-axis {
  display:flex;
  width:75vw;
  margin:auto;
}
.y-axis-space {
  flex: 10%;
}
.bar-labels {
  flex: 90%;
  display: flex;
}
.x-axis-label {
  display: flex;
  width:75vw;
  margin:auto
}
.x-axis-title {
  flex: 90%;
  font-weight: bold;
  text-align:center
}
